* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.cookieNotice {
  border: 2px solid black;
  background: #a12e5f;
  color: aliceblue;
  padding: 10px;

  /* Positioning properties */
  position: fixed;
  bottom: 10px;
  left: 10px;
}

button.accept {
  color: blueviolet;
  background-color: lightgreen;
}

button.reject {
  color: aliceblue;
  background-color: darkred;
}
