.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3rem;
  border: 3px solid rosybrown;

  color: white;
  text-shadow: 1px 1px 1px black;

  background-color: rgb(115, 39, 185);
}
