* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: blueviolet;

  font-size: 1.5rem;
}

.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3rem;
  border: 3px solid rosybrown;

  color: white;
  text-shadow: 1px 1px 1px black;
}

button {
  padding: 5px;
}
