.ainsley-head {
  height: 15em;
  width: auto;
  margin: 30px;
  background-color: tomato;
  border-radius: 50%;
  transition: all 0.05s;
  animation: logo-spin infinite 5s linear;
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
