@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  width: 50vw;
  height: 2rem;
}

body {
  background-color: aquamarine;
  width: 100%;
}

a {
  transition: all 250ms ease-in;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  border-radius: 0.25em;
}

.movie-box {
  width: 150px;
  height: 150px;
  border: 2px solid hsl(0 100% 0 /0.5);
  color: black;
  position: relative;
  background-color: teal;
  z-index: 1;

  border-radius: 0.25rem;
  transition: all 250ms ease-in;
  transform: scale(1);
}

.movie-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px black;
}

.movie-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0100%;
  height: 100%;
  background-color: tomato;
  transition: transform 500ms ease-in;
  transform: scaleX(0);
  transform-origin: right;
}

.movie-box:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
