:focus {
  outline: 5px solid orange;
  padding: 15px;
  font-size: larger;
}

a:hover {
  background-color: blue;
  color: white;
  padding: 15px;
  font-size: larger;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #89e787;
}

img {
  display: block;
  border: 1px solid grey;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  gap: 10px;
  padding: 5px;

  text-align: center;
  background-color: #dfda71;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2,
h3,
h4 {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

h2 {
  text-align: center;
  background-color: #b1efaf;
}

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: #17bbc8;
  border-radius: 20px;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.content-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.forward a {
  display: flex;
  justify-content: flex-end;
}

.reverse a {
  display: flex;
  justify-content: flex-start;
}

.forward {
  flex-direction: row;
}

.reverse {
  flex-direction: row-reverse;
}

.source-links {
  display: flex;
  flex-direction: column;
  padding: 10px;

  background-color: #dfda71;
}

.content-section a {
  color: black;
  padding: 5px;
  text-align: center;
}
.content-section a:hover {
  color: white;
}

@media (max-width: 1000px) {
  .content-section {
    flex-direction: column;
  }
}
